* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    
}

body {
    background-color: rgb(189, 189, 189);
    
}

header{
    display: flex;
    background-color: rgb(159, 159, 159);
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.222);

}
header > h1 {
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.292);
    flex: 0 0 145px;
    color: white;
    padding: 5px;
   
}
header > nav {
display: flex;
align-items: center;
justify-content: flex-end;
margin: 5px;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.352);
font-weight: bolder;


}
header > nav > a {
margin: 5px;
padding: 5px;
border-radius: 4px;
text-decoration: none;
color: white;
font-size: .7em;

}
 a:hover {
    background-color: rgb(207, 207, 207);
    color: rgb(43, 43, 43);

}

i#menu {
    display: none;
}

main {
    background-color: white;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
   max-width: 600px;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.322);
    border-radius: 4px;
    padding: 7px;
    text-align: justify;
    text-indent: 20px;
    

}

h2 {
    
    margin-bottom: 5px;
}
main > p {
    flex: auto;
  
}

footer {
    display: flex;
    align-items: flex-end;
    
    justify-content: center;
    
    height: 450px;
    background-image: linear-gradient(to bottom, rgb(189, 189, 189), rgb(44, 44, 44) );
    color: white;
    margin: 0 auto;
    text-align: center;
    padding: 20px;

}

a {
    margin: 5px;
padding: 5px;
border-radius: 4px;
text-decoration: none;
color: white;
font-size: .7em;
}
 

section > div {
    flex: auto;
    padding: 10px;
    margin-top: 20px ;
    margin-bottom: 20px;
}

@media  screen and (max-width:450px) {
    #itens{
        display: flex;
        display: none;
      flex-flow: row nowrap;
      
     
     
    }
    #itens > a {
        
        font-size: .52em;
        
    }

    i#menu {
        display: flex;
        background-color: rgb(195, 195, 195);
        text-align: center;
        color:white;
        padding: 4px;
        
    }
    
    i#menu:hover {
        background-color:white;
        color: gray;
        cursor: pointer;
    }

    .partiu {
        display: none;
    }
    

}