/* configuração geral */ 



html {
    font-family: Arial, Helvetica, sans-serif;
}
body {
 
 background-color: #233eff;
   background-repeat: no-repeat;
   background-size: cover;
}

h1 {
    text-align: center;
    font-size: 2.2em;
    font-weight: bolder;
    text-shadow: 2px 1px 0px rgba(60, 132, 150, 0.441);
    color: white;

}

